.logo{
    width: 300px;
}
.face {
    width: 40px;
}

.twitter {
    width: 65px;
}
.redesocial{
    width: 300px;   
    float: right;
}
.rodape{
    text-align: right;
    margin-top: 0px;
}
.menu{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.botao{
    justify-content: center;
    padding-left: 150px;
    padding-top: 80px;
}
header{
    display: flex;
    background-color: aqua;
}

ul{
   
    list-style-type: none;
    display: flex;
}
li{

    padding: 14px 16px;
}